
@{
    ViewData["Title"] = "Delete Movie Information";
}
@* Here the user can delete the information from the DB *@
@model ApplicationResponse 

<h1> Confirm Deletion </h1>
<h3> Are you sure you want to delete the record @Model.Title by @Model.DirectorLastName? </h3>
<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit" class="btn btn-primary"> Delete Information </button>
    <a asp-controller="Home" asp-action="MovieList" class="btn btn-primary">Cancel Deletion</a>

    <input type="hidden" asp-for="MovieId" />
</form>