@* Euigun Jung Mission 5 *@

@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}


<h1>The Joel Hilton Film Collection </h1>
<div>
    <p>Welcome to the Joel Hilton Film Collection Website. Please click the link below to fill out the movie information form!</p>
</div>

<div>
    <a asp-controller="Home" asp-action="MovieList"> Movie List </a>
</div>

<div>
    <a asp-controller="Home" asp-action="MovieForm">*Fill Out Movie Information Form</a>
</div>
<img src="~/img/JoelHiltonHeadshot.jpg" height="200" />

